<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2 - Create a markdown cell with the title of the notebook.

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:

Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++.
JavaScript.

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:

TensorFlow.
NumPy.
SciPy.
Pandas.
Matplotlib.
Keras.
SciKit-Learn.
PyTorch.
Scrapy.
BeautifulSoup.
LightGBM.
ELI5.
Theano.
NuPIC.
Ramp.
Pipenv.
Bob.
PyBrain.
Caffe2.
Chainer.

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Data Science Tools:

Data Science Tools
SAS. It is one of those data science tools which are specifically designed for statistical operation		
Apache Spark
BigML

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

In [6]:
#Arthematic expression 
6+8

14

In [7]:
#Exercise 8 - Create a code cell to multiply and add numbers

#In this code cell evaluate the expression (3*4)+5.
(3*4)+5

17

In [8]:
# Exercise 9 - Create a code cell to convert minutes to hours

#In this code cell write an expression that converts 200 minutes into hours

200/60

3.3333333333333335

#Exercise 10 - Insert a markdown cell to list Objectives

Objectives:

Python
R
SQL

Author
Raj Regmi